.idea/workspace.xml
.idea/dictionaries/myj.xml
.idea/
.DS_Store
*.classpath
*.project
.settings
.project
.target
.classpath
*/.settings
*/.classpath
*/.eclipse
*/target/
target/
bin/
.svn
*.iml
*/logs/
*/log
logs/
.apt_generated
.factorypath
.springBeans

.idea
*.iws
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/config/
.gradle
